{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Oops ! Une erreur s'est produite !</strong></h1>
    <div class="col-md-12">
        <h2>Le serveur a retourné une "{{ status_code }} {{ status_text }}".</h2>
        <p>Nous regardons au plus vite ce qu'il s'est passé. Merci de bien vouloir nous excuser pour la gêne occasionnée.</p>
        <div class="row btn-create-task">
            <a href="{{ path('homepage') }}" class="btn">Retour à la page d'accueil</a>
        </div>
    </div>
{% endblock %}